<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lending Assesment">
    <test name="API Assesment">
         <classes>
             <class name="sampleApiBDD.sampleApiBDD.GetReq"/>
             <class name="sampleApiBDD.sampleApiBDD.PostReq"/>
             <class name="sampleApiBDD.sampleApiBDD.PutReq"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->