<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="jarchVersion=22.12.0-SNAPSHOT"/>
        <listEntry value="siglaSistema=SGL"/>
        <listEntry value="descricaoSistema=Descrição do Sistema"/>
        <listEntry value="archetypeGroupId=br.com.jarch"/>
        <listEntry value="archetypeArtifactId=javaee-archetype"/>
        <listEntry value="archetypeVersion=22.12.0"/>
        <listEntry value="groupId=mavennewproj"/>
        <listEntry value="artifactId=newmavenproj"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=mavennewproj.newmavenproj"/>
        <listEntry value="outputDirectory=C:\Users\Chandra Adhimulam\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\CHANDR~1\AppData\Local\Temp\m2e-archetypeGenerator17140884958869652428"/>
</launchConfiguration>
